<!DOCTYPE html>
<html>
<head>
<title>Thermostat</title>
<script src= "../src/thermostat.js"> </script>
<script src= "../src/interface.js"> </script>

</head>

<body>
  <div id="temperature"> </div>
  <button id='tempup' type="button">Temperature up</button>
  <button id='tempdown' type="button">Temperature down</button><br>
  <button id='pson' type="button">Power Saving On</button>
  <button id='psoff' type="button">Power Saving Off</button>
  <div>Powering Saving Mode on? </div>
  <div id="powersaving"> </div>

</body>

</html>